.header{
    
    text-transform: uppercase;
    font-family: Georgia;
    margin-left: 3%;
    background-image: linear-gradient(
        -225deg,
        #a9b2c9 0%,
        #0b0443 29%,
        #e84242e7 67%,
        #8eac9e 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
          font-size: 50px;
    }
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    
}
.my-task{
  
  float: right;
  margin-right: 10%;
  font-size: 50px;
  font-family: Georgia;
}