.App {
  text-align: center;
}



.App-header {
  background-color: grey;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}
.input{
  background-color: rosybrown;
  width: 600px;
  min-height: 100px;
  
}
.tasklist{
  background-color: blueviolet;
}
button{
  margin-top: 20px;
  width: 80px;
  align-self: center;
}
